@media screen and (min-width: 601px) {
    .banner-h1{
        font-size: 64pt;
    }
    .banner-h2{
        font-size: 12pt;
    }
    .banner-h3{
        font-size: 34pt;
    }
}

@media screen and (max-width: 600px) {
    .banner-h1{
        font-size: 40pt;
    }
    .banner-h2{
        font-size: 10pt;
    }
    .banner-h3{
        font-size: 24pt;
    }
}

/*html-element-level specification*/
footer{
    background-color: rgba(0,103,119,1);
}

/**/
.grey{
    background-color: rgba(237,237,237,1);;
}

/*class-level specification*/
.check{
    border: 1px solid black;
}

.kpim-container{
    margin-top: 32px;
    margin-bottom: 16px;
}

.kpim-sidebar{   
    color: white;
    font-family: Lato;
    font-size: 16px;
}

.logo-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.kpim-main{
    margin-left: 250px;
    text-align: center;
}

.centered-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsection{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner{
    background-image: url("../images/banner-background.jpg");
    min-height: 350px;
    background-size: cover;
    background-position: center;
}

.banner-h3{
    color: #008b8b;
    font-family: 'Montserrat';
    font-weight: 800;
}

.kpim-button{
    background-color: rgba(0,103,119,1);
    color: white;
}

.founder-message{
    text-align: left;
}


.mandate-credit{
    padding: 0;
}

.socmed-container{
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(237,237,237,1);
}

.socmed-button{
    width: 100%;
    height: 40px;
    background-color: rgba(0,103,119,1);
    color: white;
    padding: 0;
}

.socmed-hyperlink{
    display: flex;
    text-decoration: none;
    height: inherit;
    align-items: center;
    justify-content: center;
}

/*font-classes styling*/
.montserrat-64pt{
    color: #008b8b;
    font-family: 'Montserrat';
    font-size: 64pt;
    font-weight: bold;
}

.montserrat-34pt{
    color: #008b8b;
    font-family:'Montserrat';
    font-size: 34pt;
    font-weight: 800;
}

.montserrat-14pt{
    color: rgba(0,103,119,1);
    font-family: 'Montserrat';
    font-size: 14pt;
    font-weight: 500;
    vertical-align: baseline;
    line-height: 2.0;
}

.montserrat-12pt {
    color: #008b8b;
    font-family: 'Montserrat';
    font-size: 12pt;
    font-weight: 800;
    vertical-align: baseline;
    line-height: 2.0;
}

.montserrat-10pt {
    color: rgba(0,103,119,1);
    font-family: 'Montserrat';
    font-size: 10pt;
    font-weight: 800;
    vertical-align: baseline;
}

.sans-64pt{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 64pt;
    font-weight: 700;
}

.sans-34pt{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 34pt;
    font-weight: 700;
}

.sans-25pt{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 25pt;
    font-weight: normal;
}

.sans-19pt{
    color: rgba(0,103,119,1);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size:19.0pt;
    line-height: 1.2;
}

.sans-15pt{
    color:#008b8b;
    font-family: 'PT sans', sans-serif;
    font-size: 15pt;
    font-weight: 700;
    line-height: 1.25;
}

.merriweather-12pt{
    color: rgba(0,103,119,1);
    font-family: 'Merriweather';
    font-size: 12pt;
    vertical-align: baseline;
    line-height: 2.0;
}

.merriweather-11pt{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 11pt;
    font-weight: 400;
}

.merriweather-10pt{
    color: rgba(0,103,119,1);
    font-family: 'Merriweather';
    font-size: 10pt;
    vertical-align:baseline;
    line-height: 2.5;
}

.pic-description{
    text-align: left;
}